{% extends "layout.njk" %}



{% block content %}


       <div class="more-acess-content"> 
           
           
            <div class="card-recipe" id="{{item.id}}">
                <img src="{{item.image}}" alt="image">
                <h3>{{item.title}}</h3>
                <p>{{item.author}}</p>
                <h1></h1>

            </div>

           

{% endblock %}