{% extends "layout.njk" %}


{% block head%}

<link rel="stylesheet" href="/recipe.css">

{% endblock %}


{% block content %}

<section>
    <div class="card_main"> 
           
            <div class="card-recipe" id="{{item.id}}">
                <img src="{{item.image}}" alt="image">
                <h2>{{item.title}}</h3>
                <p>{{item.author}}</p>
                
            </div>

    
    <div class="card_ingredients">
        
        <div class="card_ingredients_content">

            <div class="card_ingredients_content_title">   
                <h2>Ingredientes</h2> <span class="HideAndShow_Ingredients">ESCONDER</span> 
            </div>

                <ul>
                {% for items in item.ingredients %}
                    <li>{{items}}</li>
                {% endfor %}
                </ul>
            
        </div>        

    </div> 


    <div class="preparation_mod">
        <div class="preparation_mod_title">   
            <h2>Modo de preparo</h2> <span class="HideAndShow_preparation">ESCONDER</span> 
        </div>

        <div class="preparation_mod_content">   
            
            <div>
            {%for item in item.preparation %}
                
                <p></br>{{item}}</p>
                
            {% endfor %}
            </div>
        </div>


    </div>

    <div class="informations_add">
        <div class="informations_add_title">   
            <h2>Informações adicionais</h2> <span class='HideAndShow_Information'>ESCONDER</span> 
        </div>

        <div class="informations_add_content">   
             
             <p></br>{{item.information}}</p>
            
        </div>


    </div>



</section>


<script src="/scripts.js"></script>




        
           

{% endblock %}